html{
    height: 100vh;
    color: #fff;
    background: url("../img/voie-lactee-pleine-etoiles-dans-espace.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

@media screen and (min-width: 1439px){
    html{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 2559px){
    html{
        font-size: 3rem;
    }
}

h1{
    display: flex;
    justify-content: center;
}

.box-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(0.5rem);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.box-input{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}


input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: white 1px solid;
    caret-color: #fff;
    color: #fff;
}
input:focus{
    outline: none;
}

.submit-button{
    background: #fff;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: center;
    margin: 1rem;
}

.icon{
    max-width: 20px;
    vertical-align: text-top;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}


/*pop-up*/
.pop-up{
    /*display: none;*/
    position: absolute;
    top: calc(calc(100vh - 60vh) / 2);
    left: calc(calc(100vw - 80vw) / 2);
    width: 80vw;
    height: 60vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.8rem);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.pop-up span{
    margin: 10rem;
    margin-bottom: 2rem;
}